.form-container {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.input-group label {
    font-weight: bold;
    font-size: 20px;
  }

.input-group input {
    padding: 13px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    opacity: .6;
  }

#login h1 {
    padding-top: 15px;
    padding-left: 37px;
}

.forgot-password {
    margin-left: 174px;
    text-align: right;
    font-size: 17px;
    text-decoration: none;
    color: rgb(0, 119, 255);
    opacity: .7;
}

.forgot-password:hover {
    color: blue;
}

#login-button {
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    background: linear-gradient(to top, goldenrod, rgb(230, 220, 150));
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
}

#login-button:hover {
    opacity: .8;
}

#agreement {
    margin-left: 40px;
    margin-right: 20px;
    font-size: 20px;
}

#agreement a {
    text-decoration: none;
    color: rgb(0, 119, 255)
}

#agreement a:hover {
    color: blue;
}

#check-box {
    margin-left: 40px;
    font-size: 20px;
}

input.check-box-bigger {
    transform: scale(1.3)
}

#text-in-hr {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    opacity: .4;
    font-size: 16px;
}

#text-in-hr:before, #text-in-hr:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid lightslategray;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 8px;
}

#create-account {
    text-align: center;
}

#create-your-account {
    height: 45px;
    width: 425px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to top, rgb(163, 164, 165), rgb(237, 235, 235));
    border: 1px solid black;
}

#create-your-account:hover {
    opacity: .8;
}

.flexbox-container {
    display: flex;
}

.flexbox-item-main {
    overflow: hidden;
    display: flex;
    height: 75px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.flexbox-item-main img {
    height: 180px;
    padding-bottom: 10px;
}

.flexbox-item-1 {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 630px;
    border: 2px solid rgb(226, 223, 223);
    background-color: white;
    border-radius: 10px;
}