{% extends 'base.html' %}

{% block content %}
<div class="container col-4 border mt-5">
    <h1>Sign Up Page</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(class='form-label') }}
        {{ form.username(class='form-control', placeholder='Username') }}

        {{ form.email.label(class='form-label') }}
        {{ form.email(class='form-control', placeholder='Email') }}

        {{ form.password.label(class='form-label') }}
        {{ form.password(class='form-control', placeholder='Password') }}

        {{ form.confirm_password.label(class='form-label') }}
        {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}

        <div class="d-grid gap-2 my-3">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>


{% endblock %}