{% extends 'base.html' %}

{% block content %}
<div class="container col-4 border mt-5">
    {% for p in posts %}
        <a href="/posts/{{ p.id }}" class="card mb-3 text-decoration-none" style="width: 18rem;">
            <img src="{{ p.img_url }}" class="card-img-top" alt="{{ p.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ p.author.username }}</h6>
                <p class="card-text">{{ p.caption }}</p>
                {% if p.like_count() == 1 %}
                    <p>1 like</p>
                {% else %}
                    <p>{{ p.like_count() }} likes</p>
                {% endif %}
                
            </div>
            <div class="card-footer text-body-secondary">
                {% if p.last_updated %}
                    Updated {{ moment(p.last_updated).fromNow() }}
                {% else %}
                    Posted {{ moment(p.date_created).fromNow() }}
                {% endif %}
                
              </div>
        </a>
    {% endfor %}
</div>
{% endblock %}